.page {
    width: 100vw;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
    overflow-y: auto;
}


::-webkit-scrollbar {
    display: none;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: red;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;

}
