.main-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.scroll-page {
    width: 100vw;
    height: 100vh;
    max-width: 720px;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}


::-webkit-scrollbar {
    display: none;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: red;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
    
}
